.thomsonReuters1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.thomsonReuters {
  position: absolute;
  width: 31.92%;
  top: -1px;
  right: 68.08%;
  left: 0;
  height: 217px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
    33.17259216308594px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-image: url(/public/thomson-reuters@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-im-fell-french-canon);
}
@media screen and (max-width: 350px) {
  .thomsonReuters1 {
    font-size: var(--font-size-mini);
  }
}
@media screen and (max-width: 550px) {
  .thomsonReuters1 {
    font-size: var(--font-size-3xl);
  }
  .thomsonReuters {
    height: 217px;
  }
}
